* {
  box-sizing: border-box;
  margin: 0;
}

.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0;
}

.form-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main-display {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
}
